APP=boilerplate-golang
PORT=3030
ENV=development
VERSION=0.0.1
HOST=localhost:3030
SCHEME=http
JWT_KEY=secret

DB_HOST=localhost
DB_USER=db_user
DB_PASS=db_pass
DB_PORT=5432
DB_NAME=boilerplate_golang_db
DB_SSLMODE=disable
DB_TZ=Asia/Jakarta

FIRESTORE_COLLECTION=xxx
FIRESTORE_PROJECT_ID=xxx

IS_RUN_MIGRATION=false
IS_RUN_SEEDER=false
IS_RUN_CRON=false